/* html
{
    font-size: 10px;
} */

.deep-screen .myrow
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.deep-screen .mycolumn
{
    flex: 1;
}

.deep-screen .mycolumn .mycolumn-1,
.deep-screen .mycolumn .mycolumn-2
{
    height: 100%;
}

.deep-screen .mycolumn-2
{
    background: linear-gradient(-45deg, orange, purple);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}

.deep-screen.deep-screen-reverse .mycolumn-2
{
    background: linear-gradient(-45deg, blue, red);
}

.btnstyle
{
    font-size: 2rem;
    background: none;
    border: 2px solid black;
    border-radius: 4rem;
    padding: .7rem;
    transition: 1s;
}

.btnstyle:hover
{
    background-color: black;
    color: #fff;
    transition: 1000ms;
    text-decoration: underline;
}

.deep-screen.deep-screen-reverse .myrow
{
    flex-direction: row-reverse;
}

.gallery-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

.gallery-header h2
{
    font-size: 4rem;
    margin: 2rem 0;
}

.gallery-header p
{
    font-size: 2rem;
}

.gallery-section
{
    padding: 2rem 2rem 4rem;
}

.gallery-section .myrow
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.4rem;
}

.gallery-section .mycolumn
{
    flex: 25%;
    padding: 0 0.4rem;
}

.gallery-section .mycolumn img
{
    width: 100%;
    height: 50%;
    padding: .4rem 0;
}

.gallery-section img:hover
{
    opacity: .7;
}

.mycards
{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.mycards > div
{
    padding: 2rem;
    flex-basis: 100%;
}

.mycards .mycard
{
    flex: 33%;
}

.mycards .mycard img
{
    width: 100%;
    height: 70%;
}

.mycards .mycard .mycard-body
{
    margin: 1rem 0;
    background-color: greenyellow;
}

.mycards .mycard .mycard-body h2
{
    font-size: 2.5rem;
}

.mycards .mycard .mycard-body p
{
    font-size: 2rem;
}

/*Resimleri eşit bölmek için resimlerin içinde bulunduğu divin flex özelliğine yüzdelik değer veriyoruz.
Sonrasında ise resmin css özelliklerinde width ve height değerlerini değiştiriyoruz.*/

.mycontact-form
{
    width: 100%;
    padding: 2rem 0;
}

.mycontact-form label
{
    display: block;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.mycontact-form .myform
{
    margin-bottom: 1.5rem;
}

.mycontact-form input
{
    width: 100%;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 50rem;
    font-size: 2rem;
}

.mycontact-form button
{
    margin-top: 2rem;
    width: 100%;
}

footer > p
{
    font-size: 2rem;
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 2rem;
}

footer i
{
    color: black;
    padding: .5rem;
}

footer i:hover
{
    color: dimgrey;
}

@media(max-width: 768px)
{
    .deep-screen .mycolumn
    {
        flex: 100%;
    }

    .gallery-section .mycolumn
    {
        flex: 50%;
    }

    #rooms .mycards
    {
        flex-direction: column;
    }
}